body{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

#tarjetaMain{
    background-color: white;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}

#tarjetaMain img{
    margin: 20px;
    width: 500px;
    position: relative;
}

#descripcion p{
    color: #555;
}

#preparation {
    background-color: pink;
    padding: 20px;
    border-radius: 15px;
}

#preparation h3{
    color: darkred;
}