body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

header {
    text-align: center;
    color: white;
    background-color: #04BF8A;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7)
}

#palomaMontero{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px
}

#nav {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to top, rgb(38, 136, 106), #04BF8A);
}

#nav a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin: 5px;
}

#portada {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    padding: 60px;
    padding-bottom: 70px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portada button {
    background-color: #04BF8A;
    border: 0;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 4px 4px, 6px;
}

#portada .chincheta {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-bottom: 10px;
}

#portada .chincheta img{
    transform: rotate(45deg);
}

#portada p {
    font-size: small;
}

#tarjeta {
    text-align: center;
}

#servicios {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

#servicios p {
    text-align: left;
    font-size: small;
    margin: 5px;
}

#servicios .circulito{
    background-color: #04BF8A;
    align-items: center;
    justify-self: center;
    justify-content: center;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    margin: 30px;
}

#servicios h4 {
    color: #04BF8A;
    font-weight: 500;
}

footer{
    text-align: center;
    background-color: black;
    margin-bottom: -15px;
    color: white;
}

main{
    background-color: black;
    background-image: url('img/49a3d1f296b23b55c873338884bf32a9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tarjeta {
    background-color: rgba(255,255,255,0.85);
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
}

.formulario{
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    margin: 10px 15%;
}

.formulario h4 {
    color: #04BF8A;
    padding-top: 10px;
    margin-bottom: -10px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding: 25px;
}

.formulario label{
    text-align: left;
    color: white;
    font-weight: 500;
    flex-direction: column;
    display: flex;
}

.formulario input {
    border-radius: 3px;
    border: 0;
    height: 35px;
    width: fill;
}

.formulario textarea{
    border: 0;
    border-radius: 3px;
}

.formulario input::placeholder{
    font-size: medium;
    padding-left: 5px;
}

.formulario button {
    border: 0;
    border-radius: 3px;
    padding: 10px;
    margin-top: 15px;
    width: 100px;
    background-color: #04BF8A;
    color: white;
    font-weight: bold;
}

.formulario #fila1 {
    display: flex;
    gap: 10px;
}

.formulario #fila1 div{
    flex: 1;
    margin-right: 5px;
}

.formulario #fila1 input {
    width: 100%;
}

@media (max-width: 850px) {
    #servicios {
        display: flex;
        flex-direction: column;
    }
}